<% if obj.errors.any? %>
  <H2><%= obj.errors.count %>errors prohibited this obj from being saved:</H2>
  <ul>
    <% obj.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>